<div class="main-container">
  <header class="header header-6">
    <div class="branding">
      <a href="javascript:void(0)">
        <span class="title">Dog Pig</span>
      </a>
    </div>
  </header>
  <div class="content-container">
    <div class="content-area">
      <form [formGroup]="formGroup" clrForm clrLabelSize="1">
        <clr-select-container>
          <label>아이템 레벨제한</label>
          <select clrSelect id="lvl" name="level" formControlName="level">
            <option [value]="130">130</option>
            <option [value]="140">140</option>
            <option [value]="150">150</option>
            <option [value]="160">160</option>
            <option [value]="200">200</option>
          </select>
        </clr-select-container>
        <clr-select-container>
          <label>환생의 불꽃 타입</label>
          <select clrSelect name="type" formControlName="type">
            <option value="강력한 환생의 불꽃">강력한 환생의 불꽃</option>
            <option value="영원한 환생의 불꽃">영원한 환생의 불꽃</option>
          </select>
        </clr-select-container>
        <clr-select-container>
          <label>추가옵션 로직</label>
          <select clrSelect name="mode" formControlName="mode">
            <option value="본섭">본섭</option>
            <option value="테섭">테섭</option>
          </select>
        </clr-select-container>
        <clr-select-container>
          <label>N회 생성 반복횟수</label>
          <select clrSelect name="iter" formControlName="iter">
            <option [value]="10">10회</option>
            <option [value]="100">100회</option>
            <option [value]="1000">1000회</option>
            <option [value]="10000">10000회</option>
            <option [value]="1000000">0.01회</option>
            <option [value]="100000000">1회</option>
          </select>
        </clr-select-container>
      </form>
      <button (click)="roll(1)" class="btn btn-primary">Generate</button>
      <button (click)="roll(formGroup.value.iter)" class="btn btn-primary">
        Generate N
      </button>
      <button (click)="reset()" class="btn btn-warning">Reset</button>

      <div echarts [options]="histogramOption" class="demo-chart"></div>
      <div echarts [options]="inverseCumulativeOption" class="demo-chart"></div>

      <clr-datagrid>
        <clr-dg-column [clrDgColType]="'number'" [clrDgField]="'STR'"
          >STR
        </clr-dg-column>
        <clr-dg-column [clrDgColType]="'number'" [clrDgField]="'DEX'"
          >DEX
        </clr-dg-column>
        <clr-dg-column [clrDgColType]="'number'" [clrDgField]="'INT'"
          >INT
        </clr-dg-column>
        <clr-dg-column [clrDgColType]="'number'" [clrDgField]="'LUK'"
          >LUK
        </clr-dg-column>
        <clr-dg-column [clrDgColType]="'number'" [clrDgField]="'MaxHP'"
          >MaxHP
        </clr-dg-column>
        <clr-dg-column [clrDgColType]="'number'" [clrDgField]="'MaxMP'"
          >MaxMP
        </clr-dg-column>
        <clr-dg-column [clrDgColType]="'number'" [clrDgField]="'착용 레벨 감소'"
          >착용 레벨 감소
        </clr-dg-column>
        <clr-dg-column [clrDgColType]="'number'" [clrDgField]="'방어력'"
          >방어력
        </clr-dg-column>
        <clr-dg-column [clrDgColType]="'number'" [clrDgField]="'공격력'"
          >공격력
        </clr-dg-column>
        <clr-dg-column [clrDgColType]="'number'" [clrDgField]="'마력'"
          >마력
        </clr-dg-column>
        <clr-dg-column [clrDgColType]="'number'" [clrDgField]="'이동속도'"
          >이동속도
        </clr-dg-column>
        <clr-dg-column [clrDgColType]="'number'" [clrDgField]="'점프력'"
          >점프력
        </clr-dg-column>
        <clr-dg-column [clrDgColType]="'number'" [clrDgField]="'올스탯%'"
          >올스탯%
        </clr-dg-column>
        <clr-dg-column [clrDgColType]="'number'" [clrDgField]="'급'"
          >급
        </clr-dg-column>

        <clr-dg-row *clrDgItems="let log of logList">
          <clr-dg-cell>{{ log["STR"] }}</clr-dg-cell>
          <clr-dg-cell>{{ log["DEX"] }}</clr-dg-cell>
          <clr-dg-cell>{{ log["INT"] }}</clr-dg-cell>
          <clr-dg-cell>{{ log["LUK"] }}</clr-dg-cell>
          <clr-dg-cell>{{ log["MaxHP"] }}</clr-dg-cell>
          <clr-dg-cell>{{ log["MaxMP"] }}</clr-dg-cell>
          <clr-dg-cell>{{ log["착용 레벨 감소"] }}</clr-dg-cell>
          <clr-dg-cell>{{ log["방어력"] }}</clr-dg-cell>
          <clr-dg-cell>{{ log["공격력"] }}</clr-dg-cell>
          <clr-dg-cell>{{ log["마력"] }}</clr-dg-cell>
          <clr-dg-cell>{{ log["이동속도"] }}</clr-dg-cell>
          <clr-dg-cell>{{ log["점프력"] }}</clr-dg-cell>
          <clr-dg-cell>{{ log["올스탯%"] }}</clr-dg-cell>
          <clr-dg-cell>{{ log["급"] }}</clr-dg-cell>
        </clr-dg-row>

        <clr-dg-footer>
          <clr-dg-pagination #pagination [clrDgPageSize]="10">
            <clr-dg-page-size [clrPageSizeOptions]="[10, 20, 50, 100]"
              >Logs per page
            </clr-dg-page-size>
            {{ pagination.firstItem + 1 }} - {{ pagination.lastItem + 1 }} of
            {{ pagination.totalItems }} logs
          </clr-dg-pagination>
        </clr-dg-footer>
      </clr-datagrid>
    </div>
  </div>
</div>
