<div class="main-container">
  <header class="header header-6">
    <div class="branding">
      <a href="javascript:void(0)">
        <span class="title">Dog Pig</span>
      </a>
    </div>
  </header>
  <div class="content-container">
    <div class="content-area">
      <select clrSelect name="level" [(ngModel)]="level">
        <option [value]="140">140</option>
        <option [value]="150">150</option>
        <option [value]="160">160</option>
        <option [value]="200">200</option>
      </select>
      <select clrSelect name="type" [(ngModel)]="type">
        <option value="강력한 환생의 불꽃">강력한 환생의 불꽃</option>
        <option value="영원한 환생의 불꽃">영원한 환생의 불꽃</option>
      </select>
      <button (click)="roll()" class="btn btn-primary">Generate</button>
      <button (click)="roll10()" class="btn btn-primary">Generate10</button>
      <button (click)="reset()" class="btn btn-warning">Reset</button>
      <clr-datagrid>
        <clr-dg-column [clrDgColType]="'number'" [clrDgField]="'STR'"
          >STR</clr-dg-column
        >
        <clr-dg-column [clrDgColType]="'number'" [clrDgField]="'DEX'"
          >DEX</clr-dg-column
        >
        <clr-dg-column [clrDgColType]="'number'" [clrDgField]="'INT'"
          >INT</clr-dg-column
        >
        <clr-dg-column [clrDgColType]="'number'" [clrDgField]="'LUK'"
          >LUK</clr-dg-column
        >
        <clr-dg-column [clrDgColType]="'number'" [clrDgField]="'MaxHP'"
          >MaxHP</clr-dg-column
        >
        <clr-dg-column [clrDgColType]="'number'" [clrDgField]="'MaxMP'"
          >MaxMP</clr-dg-column
        >
        <clr-dg-column [clrDgColType]="'number'" [clrDgField]="'착용 레벨 감소'"
          >착용 레벨 감소</clr-dg-column
        >
        <clr-dg-column [clrDgColType]="'number'" [clrDgField]="'방어력'"
          >방어력</clr-dg-column
        >
        <clr-dg-column [clrDgColType]="'number'" [clrDgField]="'공격력'"
          >공격력</clr-dg-column
        >
        <clr-dg-column [clrDgColType]="'number'" [clrDgField]="'마력'"
          >마력</clr-dg-column
        >
        <clr-dg-column [clrDgColType]="'number'" [clrDgField]="'이동속도'"
          >이동속도</clr-dg-column
        >
        <clr-dg-column [clrDgColType]="'number'" [clrDgField]="'점프력'"
          >점프력</clr-dg-column
        >
        <clr-dg-column [clrDgColType]="'number'" [clrDgField]="'올스탯%'"
          >올스탯%</clr-dg-column
        >

        <clr-dg-row *clrDgItems="let log of logList">
          <clr-dg-cell>{{ log["STR"] }}</clr-dg-cell>
          <clr-dg-cell>{{ log["DEX"] }}</clr-dg-cell>
          <clr-dg-cell>{{ log["INT"] }}</clr-dg-cell>
          <clr-dg-cell>{{ log["LUK"] }}</clr-dg-cell>
          <clr-dg-cell>{{ log["MaxHP"] }}</clr-dg-cell>
          <clr-dg-cell>{{ log["MaxMP"] }}</clr-dg-cell>
          <clr-dg-cell>{{ log["착용 레벨 감소"] }}</clr-dg-cell>
          <clr-dg-cell>{{ log["방어력"] }}</clr-dg-cell>
          <clr-dg-cell>{{ log["공격력"] }}</clr-dg-cell>
          <clr-dg-cell>{{ log["마력"] }}</clr-dg-cell>
          <clr-dg-cell>{{ log["이동속도"] }}</clr-dg-cell>
          <clr-dg-cell>{{ log["점프력"] }}</clr-dg-cell>
          <clr-dg-cell>{{ log["올스탯%"] }}</clr-dg-cell>
        </clr-dg-row>

        <clr-dg-footer>
          <clr-dg-pagination #pagination [clrDgPageSize]="10">
            <clr-dg-page-size [clrPageSizeOptions]="[10, 20, 50, 100]"
              >Logs per page</clr-dg-page-size
            >
            {{ pagination.firstItem + 1 }} - {{ pagination.lastItem + 1 }} of
            {{ pagination.totalItems }} logs
          </clr-dg-pagination>
        </clr-dg-footer>
      </clr-datagrid>
    </div>
  </div>
</div>
